@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Athletics';
    font-style: normal;
    src: url('./assets/fonts/AthleticsRegular.otf') format('opentype');
  }